/* 商品の概要 */


.item-box {
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  object-fit: contain;
}

.item-red-btn {
  text-align: center;
  background-color: #FF8C00;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 5px;
}
